.freq-controller-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arc-container {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

  flex-grow: 1;
  max-width: 300px;
}

.smooth-transition {
  transition-duration: .5s;
}

.edge-word {
  display: flex;
  align-items: center;
  padding: 1rem;
}